<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link rel="stylesheet" href="/static/style.css">

    <title>XRay Classificat</title>
    {% endblock %}
</head>

<body class="text-center">
    <main role="main" class="container" style="padding-top: 80px">
        <div class="raw justify-content-center fixed-top clearfix bg-info pt-2">
            <img class="pull-left" src="/static/logo.png" alt="" width="100" >
            <h3 class="bg-info">Welcome to XRay classification tool</h3>
        </div>
        <div class="raw justify-content-center">
            {% block page_content %}
            {% endblock %}
        </div>
    </main>
    <footer class="fixed-bottom bg-info py-2">
        <div class="container justify-content-center text-center m-auto">
            <span class="copyright">Built using Pytorch, Flask &copyCopyright 2021 - All right reserved</span>
        </div>
    </footer>
    {% block scripts %}
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>