{% extends "base.html" %}
{% set active_page = "accueil" %}
{% block title %}Accueil{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="raw justify-content-center">
  <!--form class="form-signin" method=post enctype=multipart/form-data>
    <h1 class="h3 mb-3 font-weight-normal">Upload any image</h1>
    <input type="file" name="file" class="form-control-file" id="inputfile">
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
  </form-->
  <h3 class="h3 mb-3 font-weight-normal">Upload XRay images to be classified</h3>
  <form method=post enctype=multipart/form-data>
    <div class="custom-file mb-3">
      <input type="file" name="file" class="custom-file-input" id="inputfile" multiple>
      <label class="custom-file-label" for="inputfile">Choose image/s to be classified</label>
    </div>
    <button class="btn btn-lg btn-dark" type="submit">Classify images</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $('#inputfile').bind('change', function () {
    /* Verify the size of imported image */
    let fileSize = this.files[0].size / 1024 / 1024; // this gives in MB
    if (fileSize > 1) {
      $("#inputfile").val(null);
      alert('file is too big. images more than 1MB are not allowed')
      return
    }
    /*  Verify the type of imported images */
    let ext = $('#inputfile').val().split('.').pop().toLowerCase();
    if ($.inArray(ext, ['jpg', 'jpeg']) == -1) {
      $("#inputfile").val(null);
      alert('only jpeg/jpg files are allowed!');
    }
  });
  $(".custom-file-input").on("change", function() {
  var files = Array.from(this.files)
  var fileName = files.map(f =>{return f.name}).join(", ")
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}